.HomeServices-Container {
  width: 100%;
  padding: 3rem 0;
  /* min-height: 100vh; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.HomeserviceHead {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--blue);
}
.homeservicePara {
  color: var(--gray);
  width: 70%;
  font-size: 1.05rem;
}
.HomeserviceWrapper {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .HomeserviceHead {
    font-size: 2rem;
  }
  .homeservicePara {
    width: 98%;
  }
}
