.HomeContactContainer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color:var(--lihtgray); */
  background: linear-gradient(to  bottom, var(--white), var(--gray));

}
.HomeContactPara {
  color: var(--gray);
  font-size: 1.3rem;
  
   border: 1px   solid gray;
  height: 0px;
  border: none;
  /* gap: -10px; */
}
.HomecontactHead {
  font-size: 2rem;
  color: var(--white);
  border: 1px   solid gray;
  height: 0px;
  border: none;
}
.contactWrapper {
  width: 70%;
  padding: 3rem 0;
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* background: linear-gradient(
    to right bottom,
    var(--white),
    rgb(165, 165, 165)
  ); */
  background: linear-gradient(to right bottom, var(--blue), var(--darkblue));
  border: 0.5px solid var(--white);
  /* box-shadow: 1px 1px 2px 1px var(--white); */
}
.HomeContactBtn {
  padding: 0.5rem 2rem;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  border: 1px solid var(--gray);
  background: linear-gradient(to right, var(--blue), var(--gray));
  color: var(--blue);
  cursor: pointer;
}
.HomeContactBtn:hover {
  border: 1px solid var(--white);
  transition-duration: 1s;
}
.listdesk {
  display: flex;
  text-transform: capitalize;
  gap: 2rem;
  font-weight: 300;
  align-items: center;
}

.navBtn {
  padding: 0.5rem 2rem;
  border-radius: 30px;
  border: none;
  outline: none;
  font-family: inherit;
  display: flex;
  gap: 5px;
  align-items: center;
  /* font-size: 1rem; */
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 2rem;
  border-left: 5px solid var(--white);
}
@media (max-width: 768px) {
  .contactWrapper {
    width: 97%;
    flex-direction: column;
  }
  .listdesk {
    display: none;
  }
  .contactInfo {
    align-items: center;
    border: none;
    padding-left: 0;
  }
}
