.mfcontainer
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutIntro-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.imgmfpage {
  width: 30%;
  height: 20rem;
  border-radius: 10px;
}
.service-NameHead {
  /* font-size: 2rem; */
  color: var(--blue);
  /* font-weight: 500; */
}
.serviceWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.serviceWrapper .subHead {
  /* font-size: 1.2rem; */
  /* font-weight: 500; */
  color: var(--blue);
}
.labelList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.serviceLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16rem;
  height: 3rem;
  font-weight: 600;
  padding: 0.5rem 0;
  border: 1px solid var(--blue);
  color: var(--white);
  background: linear-gradient(to right, var(--blue), var(--darkblue));
}
.serviceSublist {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: fle6x;
  flex-direction: column;
  align-items: c6enter;
}

.sublistPara {
  text-align: justify;
  width: 100%;
  color: var(--gray);
}

.sublistHead {
  /* text-align: center; */
  width: 100%;
  color: var(--blue);
}
/* layout wrapper */
.mf-layout {
  display: flex;
  gap: 30px;
  padding: 40px 80px;
}

/* SIDEBAR CONTAINER */
.mf-sidebar {
  width: 280px;
  padding: 20px;
}

/* SIDEBAR TITLE */
.sidebar-title {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* ACTIVE SERVICE BOX */
.sidebar-box-active {
  background: #c1dc12;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.sidebar-active-head {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.sidebar-active-list {
  list-style: none;
  margin-left: 15px;
}

.sidebar-active-list li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
}

/* HEADINGS */
.sidebar-head {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0 5px;
  color: #1e1e1e;
}

/* GREEN LINE BELOW */
.sidebar-line {
  border: 0;
  height: 2px;
  background: #c1dc12;
  margin-bottom: 10px;
}

/* Layout of sidebar + content */
.mf-layout {
  display: flex;
  gap: 30px;
}


/* green line under headings */
hr {
  border: none;
  border-top: 2px solid #a6d930;
  margin: 8px 0;
}

/* RIGHT CONTENT */
.mf-main-content {
  flex: 1;
}

@media (max-width: 768px) {
  .imgmfpage {
    width: 95%;
    height: 15r6em;
    border-radius: 8px;
  }
  .service-NameHead {
    font-size: 2rem;
  }
  .sublistPara
  {
    width: 95%;
  }
  .serviceSublist
  {
    padding-left: 1rem;
  }

}
