@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
body {
  margin: 0;
  font-family: "Parkinsans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  background: linear-gradient(to bottom, var(--blue), var(--darkblue));
  /* color: var(--white); */
}
:root {
  --darkblue: #060f31;
  --blue: #041c5a;
  --white: #ffffff;
  --gray: #595858;
}
.mechfusion {
  color: var(--blue);
  font-weight: 600;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
